
h1 {
     text-align: center;
     color: orange;
}
.font-size{
    font-size: 80px;
}
.bg-color{
    background-color: linen;
    padding: 20px;
    
    border-radius: 5px;
}
.image{
    width: 600px;
}
.color{
    color: green;
}
.color-2{
    color: red;
}
.display-flex{
    display: flex;
}
.text-size{
    font-size: 2xl;
}
 .margin-top{
      
     margin-left: 10px;
 }
  .margin-left{
      margin-left: 30px;
  }
  
 
 .center{
     margin-left: 90px;
     border-radius: 5px;
     border: none;
     background-color: cornflowerblue;
     color: white;
     width: 100px;
 }
 .tex{
     width: 100px;
     background-color: lavender;
     border: none;
     border-radius: 4px;
      
 }
.tex-save{
     width: 80px;
     border: none;
     background-color: cornflowerblue;
     border-radius: 5px;
     color: white;
 }
 .enoght{
     text-align: center;
     display: none;
 }
 .notify{
     font-size: 20px;
 }

 /* mobbile divise */
 @media only screen and (max-width:688px){
     .cointinear{
        margin: auto;
       
     }
     .display-flex{
         flex-direction: column;
         grid-template-columns: repeat(1, 1fr);
     }
 }
 /* tab divise */
 @media only screen and (min-width:688px)and (max-width:992px) {
     .cointinear{
        grid-template-columns: repeat(2, 1fr);   
         margin: auto;
     }
   .display-flex{ 
     
    }
    
 }
 